<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DelisCake.My.MySettings.MateriaPrimaConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MateriaPrima.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DelisCake.My.MySettings.DelisCakeConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DelisCake.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DelisCake.My.MySettings.Delis_CakeConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Delis_Cake.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>